body {
	background:#f00;
	color:#fff;
}
#tableMenu{
	width:100%;
	background:#7f3;
}
#tableMenu th{
	font-weight:bold;
	background:#a3f;
}
#tableMenu td{
	text-align:center;
	vertical-align:middle;
	min-height:30px;
}
button{
	min-width:100px;
	height:50px;
	padding:5px;
	background:#fff;
	color:#000;
	text-align:center;
	font-weight:bold;
}